/*   C O L O R S    */
/*   S T Y L E S    */
body {
  font-family: 'Helvetica', 'arial', sans-serif;
  background-color: #fff8d9;
}
.appName {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
}
header {
  background-color: #605048;
  border-bottom: 1px solid #f3945f;
  color: #ffd393;
  padding: 0.75em;
}
header h1 {
  font-weight: bold;
}
.priceTag {
  background-color: #588d92;
  border-radius: 0 .3em .3em 0;
  color: #ffffff;
  padding: .5em 1em;
  position: relative;
  float: right;
  margin: .5em;
  box-shadow: 1px 0px 3px 0 rgba(0, 0, 0, 0.3);
}
.priceTag:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -1em;
  height: 0;
  width: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid #588d92;
}
.priceTag:after {
  content: '';
  display: block;
  position: absolute;
  height: .3em;
  width: .3em;
  border-radius: 50%;
  border: 1px solid #605048;
  background-color: #fff8d9;
  top: 50%;
  left: 0;
  margin-top: -0.15em;
  margin-left: -0.15em;
  box-shadow: 0 0 0 0.7px rgba(0, 0, 0, 0.4);
}
